.messages {
  width: 20em;
}

.message-list {
	display: flex;
	margin: 6px 0;
	flex-direction: column;
	align-items: flex-end;
	overflow-y: scroll;
	padding: 0.4em;
	list-style: none;
  min-height: 10em;
  max-height: 10em;
  height: 100%;
  background-color: #f3f3f3;
}

.message-list::-webkit-scrollbar {
    width: 0.2em;
} 

.message-list::-webkit-scrollbar-thumb {
    background-color: #13ad97;
} 

.sent-message {
	display: flex;
	min-height: min-content;
	word-break: break-word;
	margin: 0.1em;
	padding: 0.2em;
	max-width: 16em;
	border-radius: 0.2em;
	background-color: #1eb98a;
	box-shadow: 0 0.1em 0.1em 0 rgba(0,0,0,0.2);
}
